@charset "utf-8";

a:link, a:visited, a:hover, a:active{
text-decoration:none;
}

.sidearea{
padding:5px;
width:219px;
}

.sidebararea{
margin-top:5px;
width:219px;
line-height:18px;
}

.sidebarbg{
border-top:#4d81b1 1px solid;
border-left:#4d81b1 1px solid;
border-right:#4d81b1 1px solid;
padding-top: 1px;
padding-left: 1px;
padding-right: 1px;
background:#eeeeee;
height:200px;
z-index: 5;
}

.sidebararea .title{
background:url(../../screenFiles/bg_title_001.gif) left top no-repeat;
}

.mainarea{
width:786px;
border-left:#4d81b1 1px solid;
border-top:#4d81b1 1px solid;
border-right:#4d81b1 1px solid;
padding:1px;
background-color:#eeeeee;
height:565px;
}

.header{
background:url(../../screenFiles/bg_title_001.gif) left top no-repeat;
padding:5px 5px 5px 15px;
background-repeat:repeat-x; 
}

.mainscreen{
height:525px;
padding:8px 9px 0 9px;
}

.systemmenu{
height:512px;
font-weight:bold;
}

.sideextrainfo{
height:200px;
font-weight:bold;
}

.sidemainmenu{
height:344px;
font-weight:bold;
}

.sidefunction{
height:120px;
font-weight:bold;
}

.sidemessage{
height:120px;
font-weight:bold;
}

.mastermenu{
width:160px;
background:#4d81b1;
padding:10px 10px 0 10px;
word-wrap: break-word;
font-weight:bold;
}

.sidebar{
margin-left:30px;
margin-top:5px;
padding:0;
width:180px;
word-wrap: break-word;
}

.sidebar a:link, .sidebar a:visited, .sidebar a:active{
color:#4d81b1;
}

.sidebar a:hover{
color:#434343;
}

.message{
margin-left:10px;
margin-top:10px;
margin-right:10px;
padding:0;
width:192px;
word-wrap: break-word;
color:#545454;
}

.message a{
color:#990000;
}


.mr10{
margin-right:10px;
}

.icon{
float:left;
}

.mr1{
margin-right:1px;
}

.naviswitch{
margin:0;
padding:0;
}

.blockbottom{
background:url(../../screenFiles/block_bg_01.png) left bottom no-repeat;
padding:10px;
}

.blocktop{
background:url(../../screenFiles/block_bg_01.png) left top no-repeat;
padding:10px;
}

.sideBarTable{
position:absolute;
left:17px;
font-weight:bold;
}

/*Page Button*/
.pagebutton{
position:absolute;
top:551px;
left:400px;
z-index:100;
width: 393px;
}

.pagebutton ul{
padding:0;
margin:0;
width:420px;
}

.pagebutton ul li{
margin:0;
padding:0;
float:right;
width:84px;
}


.red{
	height:18px;
	background:url(../../screenFiles/bg_input_02.gif) repeat-x;
	border:#b55050 1px solid;
}

.textarea{
background: #edf4f7;
border:1px solid #5085b5;
}

.textarea_output{
border:1px solid #5085b5;
background:#eeeeee;
}

.textareaerror{
background:#f9f1f1;
border:1px solid #b55050;
}

.block{
border:2px #5487b6 solid;
padding:20px 30px;
}

.submenutab{
font-size:14px;
color:#5487b6;
background-color:#eeeeee;
padding:8px;
}
/*submenu*/


body{
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#434343;
overflow:hidden;
}

select, input, textarea  {
font-size:11px;
font-family:Arial;
}

h1{
color:#ffffff;
font-size:16px;
font-weight:bold;
float:left;
}

.navigationlink{
float:right;
color:#FFFFFF;
}

.navigationlink a:link, .navigationlink a:visited, .navigationlink a:active{
color:#FFFFFF;
}

.navigationlink a:hover{
color:#ffff00;
}

.navilink01{
margin-left:5px;
margin-top:5px;
padding:0;
width:180px;
word-wrap: break-word;
}

.navilink01 div{
padding:2px 2px 2px 2px;
color:#4d81b1;
width:200px;
}

.navilink01 .hover{
color:#eeeeee;
background:#4d81b1;
padding:2px 2px 2px 2px;
width:208px;
}

.navilink02 a:link, .navilink02 a:visited, .navilink02 a:active{
color:#e5e5e5;
}
.navilink02 a:hover{
color:#ffff00;
}

/*sectionbutton*/
.sectionbutton {
background: url(../../screenFiles/btn_bg_01.png) no-repeat left top;
display:block;
font-weight: bold;
}

.sectionbutton p {
background: url(../../screenFiles/btn_bg_03.png) no-repeat right top;
}

.sectionbutton a:link, .sectionbutton a:visited, .sectionbutton a:active{
display:block;
line-height:22px;
margin:0px 5px;/* leftbg rightbg */
background:url(../../screenFiles/btn_bg_02.png) repeat-x;
padding:0px 10px;
color:#4d81b1;
text-decoration:none;
}

.sectionbutton a:hover{
display:block;
line-height:22px;
margin:0px 5px;/* leftbg rightbg */
background:url(../../screenFiles/btn_bg_02.png) repeat-x;
padding:0px 10px;
color:#434343;
text-decoration:none;
}

.sectionbtndisable {
background: url(../../screenFiles/btn_bg_04.png) no-repeat left top;
text-decoration:none;
font-weight:bold;
}

.sectionbtndisable p {
background:url(../../screenFiles/btn_bg_06.png) no-repeat right top;
}

.sectionbtndisable a{
display:block;
line-height:22px;
margin:0px 5px;/* leftbg rightbg */
background:url(../../screenFiles/btn_bg_05.png) repeat-x;
padding:0px 10px;
color:#c9c9c9;
text-decoration:none;
}
/*sectionbutton*/


/*tab*/
.tabheader{
margin-left:-2px;
position:relative;
}

.tabcurrent {
background: url(../../screenFiles/tab_bg_01.png) no-repeat left top;
display:block;	
margin-right:5px;
}

.tabcurrent p {
background:url(../../screenFiles/tab_bg_03.png) no-repeat right top;
}

.tabcurrent a:link, .tabcurrent a:visited, .tabcurrent a:hover, .tabcurrent a:active{
display:block;
height:26px;
margin:0px 15px 0px 8px; 
background:url(../../screenFiles/tab_bg_02.png) repeat-x;
padding:5px 3px 0px 10px;
color:#434343;
font-weight:bold;
text-decoration:none;
font-size:12px;
}

.tab {
background: url(../../screenFiles/tab_bg_04.png) no-repeat left top;
display:block;	
margin-right:5px;
}

.tab p {
background:url(../../screenFiles/tab_bg_06.png) no-repeat right top;
}

.tab a:link, .tab a:visited, .tab a:active{
display:block;
height:26px;
margin:0px 15px 0px 8px;
background:url(../../screenFiles/tab_bg_05.png) repeat-x;
padding:5px 3px 0px 10px;
color:#316494;
text-decoration:none;
font-weight:bold;
font-size:12px;
}

.tab a:hover{
display:block;
height:26px;	
margin:0px 15px 0px 8px;
background:url(../../screenFiles/tab_bg_05.png) repeat-x;
padding:5px 3px 0px 10px;
color:#434343;
text-decoration:none;
font-weight:bold;
font-size:12px;
}

.tabcontent{
width:750px;	
background:#c7d8e7;
padding:5px;
margin-top:-2px;
}

.tabcurrenterror {
background: url(../../screenFiles/tab_bg_01.png) no-repeat left top;
display:block;
}

.tabcurrenterror p {
background:url(../../screenFiles/tab_bg_07.png) no-repeat right top;
}

.tabcurrenterror a:link, .tabcurrenterror a:visited, .tabcurrenterror a:hover, .tabcurrenterror a:active{
display:block;
height:26px;
margin:0px 15px 0px 8px;
background:url(../../screenFiles/tab_bg_02.png) repeat-x;
padding:5px 3px 0px 10px;/
color:#434343;
font-weight:bold;
text-decoration:none;
font-size:12px;
}

.taberror {
background: url(../../screenFiles/tab_bg_04.png) no-repeat left top;
display:block;
}

.taberror p {
background:url(../../screenFiles/tab_bg_08.png) no-repeat right top;
}

.taberror a:link, .taberror a:visited, .taberror a:active{
display:block;
height:26px;
margin:0px 15px 0px 8px;
background:url(../../screenFiles/tab_bg_05.png) repeat-x;
padding:5px 3px 0px 10px;
color:#316494;
text-decoration:none;
font-weight:bold;
font-size:12px;
}

.taberror a:hover{
display:block;
height:26px;
margin:0px 15px 0px 8px;
background:url(../../screenFiles/tab_bg_05.png) repeat-x;
padding:5px 3px 0px 10px;
color:#434343;
text-decoration:none;
font-weight:bold;
font-size:12px;
}

.more{
background: url(../../screenFiles/more_bg.png) left top no-repeat;
text-align:center;
padding-top:5px;
width:86px;
height:23px;
}

.more a:link, .more a:visited, .more a:active{
color:#4d81b1;
}

.more a:hover{
color:#434343;
}

.mainlink{
font-style:italic;
font-weight:bold;
}

.mainlink a:link, .mainlink a:visited, .mainlink a:active{
color:#aa6e01;
cursor:pointer;
text-decoration:underline;
}

.mainlink a:hover{
color:#7d6842;
cursor:pointer;
text-decoration:none;
}

.pop{
border:#5085b5 1px solid;
padding:1px;
margin:0;
background:#eeeeee;
}

.poptitle{
background:#5085b5;
height:25px;
color:#FFFFFF;
font-size:14px;
font-weight:bold;
padding:5px 0 0 10px;
} 

.popcontent{
padding:10px;
}

.title{
background:url(../../screenFiles/bg_title_001.gif) left top no-repeat;
background-repeat:repeat-x;
}

/*Copyright (c) 2006,Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
margin: 0;
padding: 0;
}

fieldset, img {
border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
font-style: normal;
font-weight: normal;
}

ol, ul, dl{
list-style: none;
}

caption, th  {
/*	text-align: left;*/
}

q: before, q: after {
content: '';
}

abbr, acronym  {
border: 0;
}

pre, code  {
font: 115% monospace;
*font-size: 100%;
}

/* clearfix ------- */
.clear:after {
display: block;
clear: both;
height: 0;
visibility: hidden;
content: ".";
line-height: 0;
}

.clear {
display: inline-table;
min-height: 1%;
}

/* for macIE \*/
* html .clear {
height: 1%;
}
