/* common screen 1280x1024 */
.container {
	width: 99% !important; /* ILIFE-8864 */
	margin-left: 10px !important; /* ILIFE-8864 */
}
.navbar > ul {background-color:#000000}

/*set top bar for Chrome*/
.navbar .nav > li {display:inline-block!important;}

.body {
	font-size: 14px !important;
	background-color: #ffffff !important;
	color: #fff !important;
}

.disabledLink
{
	color:blue !important;
	background-color:transparent!important;
}

a{
    font-size: 15px !important;;
    background-color: white !important;
    color: #262575 !important;
    font-weight: 500 !important;
   /*  font-style: italic !important; */
  /*   font-family: SANS-SERIF !important; */
}
.glyphicon-search:before {
    content: "\e003";
    margin-left: -4px;
	}

.logoarea {
	    background-color: #FFFFFF;/* IBPLIFE-5274 */
}

.table>thead>tr>th.info {
    background-color: #337ab7;
}



	input[type='radio'] {
        -webkit-appearance: listbox ;
        width: 16px;
        height: 17px;
        border-radius: 50%;
        outline: none;
        border: 3px solid gray;
        margin-top: 3px;
   	 }

    input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 21% auto;
        border-radius: 50%;
   	 }

	input[type="radio"]:checked:before {
        background: #46b8da;
        
    	}
    
    input[type="radio"]:checked {
      border-color:#46b8da;
    }

    .role {
        margin-right: 80px;
        margin-left: 20px;
        font-weight: normal;
    }

    .checkbox label {
        margin-bottom: 20px !important;
    }

    .roles {
        margin-bottom: 40px;
    }


	 input[type="radio"]:checked:focus {
    box-shadow: 0 0 3pt 2pt #719ECE;    
	}
	
	form-control::-moz-placeholder{
	color:#000;
	}

	.form-control:-ms-input-placeholder{
	color:#000;
	}

	.form-control::-webkit-input-placeholder{
	color:#000;
	} 

a:hover {
    color: #337ab7 !important;
   		 /* background-color: grey !important; */
   		  font-weight:bold !important;
   		  font-size: 150%;
}

/* i:hover {
	 font-weight:bold !important;
   		  font-size: 150%;
} */

/*IBPLIFE-15926*/
#userLI .userspan{
	display: block;
	width:100px;
	padding-left:10px;
	white-space:nowrap;
	text-overflow:ellipsis !important;
	overflow:hidden;
	float:right;
	color: #ffffff !important;
	
}
#userLI a:hover {  
	 color: #ffffff !important;
   	 font-weight:normal !important;
   	 font-size: 100%;
}
	
button:hover {
	font-weight:bold !important;
   		  font-size: 100%;
}


.navbar .nav > li:hover {
	 color: #337ab7 !important;
   		 /* background-color: grey !important; */
   		  font-weight:bold !important;
   		  font-size: 150%;
	}
	
.page-header {
    margin-top: 10px;
    padding-top: 20px;
} 

.sidebar-icon {
	float:right;
	padding-top:5px;
}

.panel-default > .panel-heading{
	text-align: left;
	font-weight: bold !important;
	 background-color: rgba(52, 77, 90, 0.78) !important; 
		color: #ffffff !important;
	font-size: medium !important;
}

.panel-danger {
    color: #31708f !important;
}

.fixed_input-group-addon{
	width: 50% !important;
	padding: 0 !important;
	border: 0 !important;
}

div.input-group-addon{
	max-width: 170px;
}
.tab-content {	
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 2px solid #ddd  !important;
}

div.tab-pane.fade.active.in > div.row{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

div#load-more.row{
	float: right !important;
	margin: 0 !important;
}

.fixedColumn > .dataTables_wrapper {
    margin: 0 auto !important;
	width: 90% !important;
}

.navbar-top-links li a {
	color: #ffffff !important;
}

.short_dropdown > div > select{
	width: 100% !important;
}

.three-controller{
	
}

#column-panel > input, #column-panel > div{
	width: 80% !important;
}

#label-inline > label{
	margin-top: 5px;
	margin-left: 5px;
}

.full-width, #column-panel{
	width: 100% !important;
}

.no-border{
	border: none !important;
}
.checkbox input[type=checkbox], .checkbox-inline {
	margin-left: 0 !important;
}
.input-group > input {
	width: 100% !important;
}
/* ILIFE-8863 STARTS */
.dataTables_scrollBody .input-group:not(.form_date) > input{
	width:fit-content !important;
}
/* ILIFE-8863 ENDS */
.resize-input >input, .resize-input > label, .resize-input > div, .full-width > div{
	width: 49% !important;
}
.resize-input > .form-control:last-child{
	left: 10px !important;
}

.panel-noborder{
	border-color: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
select.form-control.input-sm{
	width: auto !important;
}
.table-nopadding{
	padding: 0 !important;
}
.btn-label {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.scale-input > input{
	width: 30% !important;
}
.readOnly-remove {
}
.input-role{
	top: 25px;
    width: 12% !important;
    padding-right: 0 !important;
    padding-left: 5px !important;
}
.textarea_output{
	background-color: rgb(238, 238, 238);
    color: #000000 !important;
    padding: 2px 0 0 5px !important;
    font-size: 13px !important;
}
.label_txt{
	font-weight: bold !important;
	overflow-y: visible !important;
	height: auto !important;
	width: auto !important;
}
.checkbox-inline{
	padding-left: 5px !important;
	margin-top: -25px !important;
}
.nav > div > span{
	margin-left: 17px;
}
.checkbox label{
	font-weight: bold !important;
}
.exchange_addon{
}
.dataTables_wrapper > .row{
	 margin-right: -15px !important; /* ILIFE-8863 */
}

.page-header {
	padding-bottom: 0 !important;
	margin-top: 10px !important;
    margin-bottom: 15px !important;
    border-bottom: 1px solid #eee !important;
}
.panel-body{
	padding-top: 10px !important;
}
.form-group {
    margin-bottom: 5px !important;
    margin-top: 2px !important;
}
.panel-default{
	font-size: 90% !important;
}
 .has-error .form-control {
    border-color: #ec7572 !important;
   	color: #000000 !important;
   	
   	
}
/* ILIFE-8863 start*/
.table-responsive { 
	height: auto !important;
	overflow-x: hidden !important;	/* ILIFE-8863 */
}
.table-responsive > table.dataTable {margin-bottom: 0 !important}
.panel-subMenu { padding-bottom: 10px !important}   
/* ILIFE-8863 end*/
div.form-control {
    height: 26px !important;
    padding: 3px 4px 4px 4px !important;
    font-size: 13px !important;
    border: 2px solid #ccc !important;
    color: #000000 !important;
     
}
input.form-control {
    height: 26px !important;
    padding: 0 0 0 5px !important;
    font-size: 13px !important;
    border: 2px solid #ccc !important;
    color: #000000 !important;
    padding-right: 5px !important;
}
textarea.form-control{
	height: 40px !important;
    padding: 2px 0 0 5px !important;
    font-size: 11px !important;
    color: #000000 !important;
}
select.form-control{
	height: 25px !important;
    padding: 0 0 1px 5px !important;
    font-size: 13px !important;
    border: 2px solid #ccc !important;
    color: #000000 !important;
}
.panel {
    margin-bottom: 0 !important;
}
.nav>li>a {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background-color: #ffffff !important;
}

button.btn-info {
    font-size: 12px !important;
    border-bottom-width: 0 !important;
    padding-bottom: 7px !important;
    padding-top: 4.9px !important;
    height: auto !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    width: 31px !important;
    margin-top: 1px;
}
input[type="radio"] {
	top: -3px;
}
span.input-group-addon {
    height: 25px !important;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.form-group > hr, .panel-body > hr{
	margin: 0 !important;
	border-top: 2px solid #eee !important;
}
label{
	height: 10px !important;
	font-size: 14px !important;
	margin-bottom: 8px !important;
}
 #previousbutton,#continuebutton,#exitbutton, #refreshbutton{
    padding-bottom: 6px;
    padding-top: 6px;
    margin-right: 8px;
    font-weight: bold;
}
form[name="form1"]{
	margin-bottom: 0 !important;
}
.table-striped>tbody>tr, .table-striped>thead>tr{
	min-height: 25px!important;
	font-size: 13px!important;
}

input[type=checkbox]{
	display: block;
}
.secondPanel{
	margin-bottom:0 !important; 
	margin-top: 20px !important;
}
.row-subMenu{
	padding: 10px 5px 5px!important;
}
/* ILIFE-8864 STARTS */
/* .input-group.date.form_date.col-md-12{
	width: 118px !important;
} */
/* ILIFE-8864 ENDS */
.panel-danger>.panel-heading {
        color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

select, option{
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}
.navbar.navbar-default.navbar-static-top,.navbar-top-links,.navbar-top-links>li>a {
	min-height: 51px !important;
	    background-color: #5f249f !important; /* IBPLIFE-4730 */
	    border-color: #5f249f !important; /* IBPLIFE-4730 */
}
.navbar-brand{
	height: 50px !important;/* IBPLIFE-5274 */
}

div.row{ /* spaces between each row */
	/* padding-bottom: 5px !important; */
}
input#billcdDisp{
	width: 80px !important;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 5px !important;
}
.form_date input{
	width: 79px !important;
}
.form_date > .input-group-addon:last-child {
	border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
  	border:1px solid #ccc !important;
    float: left;
    padding-right: 24px;
    margin-left: 2px;
    width: 36px !important;  	
}
.input-group-addon:last-child {
	border:1px solid #ccc !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 13px !important;
	padding: 2px !important;
	font-weight: 600;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.dataTables_wrapper .dataTables_scroll {
        border: 1px solid #ccc;
        margin: 5px 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
div.dataTables_scrollHead table.dataTable {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        border: 0 !important;
}
div.dataTables_scrollHead{
	background-color: #d9edf7;
	display: none !important; /* ILIFE-8863 */
}

.table {
	border-left:0px !important;	border-right:0px !important;
}
.table th {
	border-bottom: 0 !important;
}
/* ILIFE-8863 STARTS */
.table-striped>thead>tr>th>div{
	height: auto !important;
}
.table-striped>thead>tr>th{
	top: 0;
	position: sticky;
	background-color: #d9edf7;
	z-index: 5;
}
/* ILIFE-8863 ENDS */
a.err-msg{
	color: #f51504 !important;
}
.glyphicon-calendar{
	top: 4px !important;
	left: 2.2px;
}
a.tableLink{
 font-size: 14px !important;
}
.input-group-addon.ellipsis{
	text-align: left !important;
	border-radius: 5px !important;
	height: 25px !important;
    font-size: 13px !important;
}
 .sidebar .fa.arrow:before {
    content: "\f0d7";
}
.fa.arrow:before {
    content: "\f0d7";
}
 .sidebar .active > a > .fa.arrow:before {
    content: "\f0d8";
}
.active>a>.fa.arrow:before {
    content: "\f0d8";
}
.sidebar .fa.arrow:before {
    content: "\f0d7";
}
.fa.arrow:before {
    content: "\f0d7";
}
#msg-panel{
  	top: 12px !important;
    position: relative !important;
    width: 100% !important;
}
.nav>li>a {
  /*   padding-top: 3px !important;
    padding-bottom: 3px !important;  */  
    font-size: 14px !important;     
    
}
.nav.nav-second-level > li > a{
	    font-size: 13px !important;
}
input.form-control {
	height: 26px !important;
	padding: 0 0 0 5px !important;
    font-size: 13px !important;
    border: 2px solid #ccc !important;
    color: #000000 !important;
    padding-right: 5px !important;
}
textarea.form-control{
	height: 40px !important;
    padding: 2px 0 0 5px !important;
    font-size: 13px !important;
    color: #000000 !important;
}
select.form-control{
	height: 25px !important;
    padding: 0 0 1px 5px !important;
    font-size: 13px !important;
        border: 2px solid #ccc !important;
    color: #000000 !important;
}

.form-control{
	height:23px !important;
	padding:4px 0 0 5px !important;
	font-size:12px !important;
	color: #000000 !important;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, 
.input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, 
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 5px !important;
}
label{
	    margin-bottom: 8px !important;
}
.input-role{
	top: 23px;
    width: 12% !important;
    padding-right: 0 !important;
    padding-left: 5px !important;
}
.checkbox-inline{
	padding-left: 5px !important;
	margin-top: -23px !important;
}
#navigateButton{	
   	margin: 7px 0 10px -5px !important;
   /* margin: -56px 0 21px 0 !important; */
   	width: 94.2%;
}
.panel {
    margin-bottom: 0 !important;
}
.ellipsis{
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
#addr > input{
	margin-bottom: 1px !important;
}
.input-group .form-control:first-child, .input-group-addon:first-child, 
.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, 
.input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, 
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 5px !important;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 3px !important;
}
.input-group-addon:not(:first-child):not(:last-child){
	padding-left: 5px !important;
}
.input-group-addon:last-child {
	padding-left: 8px !important;
}
#clntwin,#clientnum{
	width: 71px !important;	
}

select.form-control.input-sm{
	width: auto !important;
	height: 25px !important;
}
.dataTables_length{
	margin-bottom: 5px;
}

form[name="form1"] > div.row > div.col-md-9{
	width: 80%!important;
	top: 40px;
	left: 0px;
}

.panel-body.alignment.text-center{
	margin-left: 10em !important;
	width: 45% !important;
}	
p {
	    margin-top: 13px !important;
	    margin-bottom: -12px !important;
	    padding-top: 10px;
        margin-left: 60px !important;
}
#cltaddr01, #cltaddr02, #cltaddr03, #cltaddr04, #cltaddr05{
		width: 400px !important;
}

#wrapButton {
    	margin-right: 40px !important;
}

.btn.btn-info{
		color: #fff !important;
	    background-color: #46b8da!important;
	    border-color: #46b8da;
		font-size: 13px;
		border-bottom-width: 0px !important;
		right: -3px !important;
		margin-right: 6px !important;
}  
	
.navbar.navbar-default.navbar-static-top, .navbar-top-links, .navbar-top-links>li>a {   
	    margin-top: 2px !important;
	   /*  margin-right: 0px !important; */
	}
.sectionbutton > p{
	    margin-left: 0px !important;
}
.nav.nav-second-level > li > div{
	background-color: white !important;
}
.btn-success{
	background-color: #5cb85c !important;	
} 
.btn-danger {
    background-color: #ea4742 !important;
    border-color: #ea4742 !important;
} 

.panel1 {
    margin-bottom: 20px;
    /* background-color: #fff; */
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default1 > .panel-heading1 {
    text-align: left;
    font-weight: bold !important;
   	/* background-color: rgba(125, 177, 204, 0.78) !important; */
   	background-color: rgba(52, 77, 90, 0.78) !important; 
    color: #ffffff !important;
    font-size: medium !important;
    height:auto;
}
.panel-heading1 {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}
.panel-default1 {
    font-size: 90% !important;
    border-color: #ddd;
    }
    


.dataTables_wrapper.no-footer .dataTables_scrollBody {
     border-bottom: none !important; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	display: inline;
	padding: 0 !important;
	margin-left: -1px;	
}


/*  Extra large devices (large laptop 1600x900) */
@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1600px) and (min-device-width: 1400px){
	form[name="form1"] > div.row > div.col-md-9{
		width: 86% !important;
    	top: 15px;    	
	}
	.container {
		padding: 0 !important;
		width: 92% !important;
	    margin-left: 53px !important;
	}
	p {
		margin-top: 14px !important;
   		margin-left: 22px !important;
	    padding-top: 10px;
	    margin-bottom: -13px !important;
	}
	.panel-body.alignment.text-center{
    	margin-left: 12em !important;
    	width: 50% !important;
	
	}
	div.row {
   		padding-bottom: 0px !important;
	}
	.text-right {
	    text-align: right;
	    margin-left: -16px;
	}
	#cltaddr01, #cltaddr02, #cltaddr03, #cltaddr04, #cltaddr05{
		width: 500px !important;
	}
	.btn.btn-info{
		color: #fff !important;
	    background-color: #46b8da!important;
	    border-color: #46b8da;
		font-size: 13px;
		border-bottom-width: 0px !important;
		right: -3px !important;
		margin-right: 6px !important;
	}  	
	#wrapButton {
	    margin-right: 22px !important;
	}
}

/*  large devices (medium laptop 1366x768) */
@media screen and (min-device-width: 1300px)  and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) { 
	form[name="form1"] > div.row > div.col-md-9{
		width: 74%!important;
    	top: 40px;
	}
	.container {
		width: 97% !important;
		margin-left: 15px !important;
	}
	.navbar > ul {	  
	    background-color: #000000 !important;
	}
	div.row {
	   	padding-bottom: 0px !important;
	}
	.panel-body.alignment.text-center{
		margin-left: 12em !important;
    	width: 40% !important;
		 
	}		
	p {
		margin-top: 9px !important;
	    margin-bottom: -12px !important;
	    padding-top: 14px;
        margin-left: 10px !important;
	}
	#cltaddr01, #cltaddr02, #cltaddr03, #cltaddr04, #cltaddr05{
		width: 400px !important;
	}
	.text-right {
	    text-align: right !important;
	    padding-right: 0px !important;
	}	
	.btn.btn-info{
		color: #fff !important;
	    background-color: #46b8da!important;
	    border-color: #46b8da;
		font-size: 13px;
		border-bottom-width: 0px !important;
		right: -3px !important;
		 margin-right: 6px !important;
	}  
	#wrapButton {
	    margin-right: 23px !important;
	}  
	
	
}
/* ILIFE-8864 STARTS */
#msg-panel>.closebtn{
	position: absolute;
	right: 5px;
	cursor: pointer;
	font-size: 30px;
	color: white;
}
#msg-panel.mainform-msg>.panel-body{
	padding: 0 !important;
	padding-left: 15px !important;
	height: auto !important;
}
#msg-panel.mainform-msg {
	z-index: 99;
	width: 275px !important;
	position: absolute !important;
	left: 0;
	top: 10 !important;
}
#msg-panel.mainform-msg>.panel-heading:after {
	content: '';
	display: block;
	position: absolute;
	top: -7px;
	left: 20px;
	width: 10px;
	height: 10px; 
	background: #d9edf7;
	border-right:1px solid #bce8f1;
	border-bottom:1px solid #bce8f1;
	-moz-transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
}
/* ILIFE-8864 ENDS */
/* ILIFE-8863 STARTS */
.table-striped{
	width:100% !important;
} 
/* ILIFE-8863 END */