body
{
	font-family: Arial;
	font-size: 12px;
	margin: 0pt
}

div.navigation img, div.navigation input
{
	font-size: 0pt;
	border: 0pt;
	padding: 0pt;
	margin: 0pt;
	outline: 0pt;
	text-align: right;
	height: 45px;
	width: 40px;
}

/*
 * Container
 *  Main window pane 
 *  determines the size 
 *  of the whole screen
 */
div.container 
{
	width : 100%;
	height : 100%;
	background-color : #FFFFFF;
}

/* 
 * screen layout - browsing 
 */
div.container div.browsing 
{
	width : inherit;
	height : 100%;
	border : 0px	solid #ccc;
	background-color : #FFFFFF;

}

/* 
 * screen layout - activities 
 */
div.container div.activity
{
	float : right;
	width : 81.5%;  /* 80%; */
	height :50%;
	border : 0px	solid #ccc;
	background-color : #FFFFFF;
	table-layout:auto;
	}

/*
 * Browsing part logo
 */ 
 div.browsing
 {
 width:100%;
 height:60px;
 background-color : #FFFFFF;
 }
 
div.browsing div.logo
{
	float:right;
	width: 220px;
	height:100%;
	font-size: 0pt;
	border: 0px dotted #000;
	margin-top: 1px;
	margin-left:3px;
	background-color : #FFFFFF;
}

/*
 * Browsing part navigation
 */ 
div.browsing div.navigation
{
	float: left;
	font-size: 15px;
	border: 0pt;
	margin-top: 0px;
}
