
#header {
  float:left;
  width:100%;
  font-size:100%;
   line-height:normal;
}
#header ul {
  margin:0px;
  padding:0px;
  list-style:none;
}
#header li {
  float:left;
  background: url(../screenFiles/tab_on.gif) no-repeat left bottom;
 margin: 0px 0px;
 height: 25px;
 padding:5px;
 width:139px;
}
#header .current {
  float:left;
  background: url(../screenFiles/tab_normal.png) no-repeat left bottom;
 margin: 0px 0px;
 height: 25px;
 padding:5px;
}

